<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../res/img/icon-page.png" type="image/x-icon">
  <title>Manage SMTP | Void</title>

  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' />
  <link rel="stylesheet" href="../css/general-style.css">
  <link rel="stylesheet" href="../css/admin/admin-side-bar-style.css">
  <link rel="stylesheet" href="../css/admin/admin-pages-style.css">
  <link rel="stylesheet" href="../css/admin/admin-manage-smtp-style.css">
</head>
<body>
  <div id="wrapper">
    {side_bar}
    <main>
      <div id="page_bar">
        <h2>Home </h2>
        <i class="bx bx-chevron-right"></i>
        <a href="/admin/manage_smtp"><h2>Manage SMTP</h2></a>
      </div>
      <div id="smtp_user_container">
        <h1>SMTP User Account</h1>
        <div id="smtp_user_info">
          <p>Name: <span>{smtp_user_name}</span></p>
          <p>Email: <span>{smtp_user_email}</span></p>
          <p>App Password: <span>{smtp_user_password}</span></p>
          <p>Updated: <span>{smtp_user_date_updated}</span></p>
        </div>
        <div id="buttons">
          <a href="/admin/manage_smtp/update_smtp">Update</a>
          <form action="/admin/manage_smtp/testing_smtp" method="post">
            <input type="hidden" name="csrf_token" value="{csrf_token}" />
            <input type="hidden" name="email" value="{admin_email}" />
            <input type="submit" name="testing_smtp" value="Testing" />
          </form>
        </div>
      </div>
    </main>
  </div>

  <script src="../js/jquery-3.7.1.min.js"></script>
  <script src="../js/admin/admin-side-bar-script.js"></script>
</body>
</html>