<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../../res/img/icon-page.png" type="image/x-icon">
  <title>Delete Game | Void</title>

  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' />
  <link rel="stylesheet" href="../../css/general-style.css">
  <link rel="stylesheet" href="../../css/admin/admin-side-bar-style.css">
  <link rel="stylesheet" href="../../css/admin/admin-pages-style.css">
  <link rel="stylesheet" href="../../css/admin/admin-manage-games-delete-style.css">
</head>
<body>
  <div id="wrapper">
    {side_bar}
    <main>
      <div id="page_bar">
        <h2>Home </h2>
        <i class="bx bx-chevron-right"></i>
        <a href="/admin/manage_games"><h2> Manage Games</h2></a>
        <i class="bx bx-chevron-right"></i>
        <a href="/admin/manage_games/delete_game"><h2> Delete Game<h2></a>
      </div>
      <div id="container">
        <h1>Delete Game</h1>
        <form action="/admin/manage_games/delete_game" method="post">
          <input type="hidden" name="csrf_token" value="{csrf_token}" />
          <input type="hidden" name="_method" value="DEL" />
          <label for="game">Choose game:</label>
          <select name="game" id="game" required>
            {option}
          </select>
          <br>
          <input type="submit" name="delete_game" value="Delete Game"/>
        </form>
      </div>
    </main>
  </div>

  <script src="../../js/jquery-3.7.1.min.js"></script>
  <script src="../../js/admin/admin-side-bar-script.js"></script>
</body>
</html>