<div id="side_bar">
  <img width="5rem" id="logo_page" src="{logo}" alt="logo" />
  <nav id="side_nav">
    <a href="/admin/" id="dashboard_nav"><i class="bx bxs-dashboard"></i>Dashboard</a>
    <a href="/admin/manage_genres" id="manage_genres_nav"><i class="bx bx-dice-5"></i>Manage Genres</a>
    <a href="/admin/manage_games" id="manage_games_nav"><i class="bx bx-game"></i>Manage Games</a>
    <a href="/admin/manage_users" id="manage_users_nav"><i class="bx bxs-user-detail"></i>Manage Users</a>
    <a href="/admin/manage_smtp" id="manage_smtp_nav"><i class="bx bx-package"></i>Manage SMTP</a>
    <a href="/admin/profile" id="profile_nav"><i class="bx bx-user"></i>Profile</a>
    <a href="/signout"><i class="bx bx-exit"></i>Logout</a>
  </nav>
</div>