<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" href="../../res/img/icon-page.png" type="image/x-icon"/>
  <title>Browse By Genre | Void</title>

  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' />
  <link rel="stylesheet" href="../../css/general-style.css"/>
  <link rel="stylesheet" href="../../css/user/top-bar-style.css"/>
  <link rel="stylesheet" href="../../css/user/browse-by-genre-style.css"/>
</head>
<body>
  <div id="wrapper">
    <header>
      {top_bar}
    </header>
    <main>
      <h1>Genre: {genre_name}</h1>
      <div id="games_container">
        {game}

      </div>
    </main>
  </div>
</body>
</html>