<a href="/user/"><img src="{logo}" alt="Logo" /></a>
<nav>
  <div id="nav_links">
    <a href="/user/">Home</a>
    <a href="/user/#games">Games</a>
    <a href="/user/profile#favorites">Favorites</a>
    <a href="/user/#genres">Genres</a>
  </div>
  <div id="user_link">
    <div class="dropdown-container">
      <img src="{profile_image}" alt="Profile Image" />
      <!-- Dropdown Menu -->
      <div class="dropdown-menu">
        <a href="/user/profile" class="dropdown-item">View Profile</a>
        <a href="/signout" class="dropdown-item">Logout</a>
      </div>
    </div>
  </div>
</nav>