<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UNBAN USER</title>
</head>
<body style="font-family: 'Trebuchet MS';">
<table style="width: 100%; border: none;" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center">
        <table style="min-width: 50%; border: none;" cellpadding="10px" cellspacing="0">
          <tr>
            <td align="left">
              <header style="border-bottom: 1px gray solid;">
                <a href="#" style="color: black; text-decoration: none; text-align: center;"><h1>VOID</h1></a>
              </header>
              <br />
              <main style="color: black;">
                <h2>UNBAN USER</h2>
                <p>Admin has lifted the ban to your account. You can now sign in your account.</p>
              </main>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>