<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="res/img/icon-page.png" type="image/x-icon" />
  <title>Error 404</title>

  <link rel="stylesheet" href="css/general-style.css" />
  <link rel="stylesheet" href="css/auth/auth-box-container-style.css" />
  <link rel="stylesheet" href="css/_404-style.css" />
</head>
<body>
  <div id="wrapper">
    <main>
      <img src="res/img/logo-white.png" alt="logo name" />
      <h2>Page Not Found</h2>
      <p>Oops! The page you are looking for does not exist.</p>
      <a href='/'>Go Back</a>
    </main>
  </div>
</body>
</html>