@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-text-color: white;
  --sectext-color: black;
  --bgcolor: black;
  --secbg-color: white;
  --hoverbgcolor: #E0B0FF;
  --sidebar-icon: white;
  --btn-color: rgba(255, 255, 255, 0.865);
  --btn-hover-color: rgba(255, 255, 255, 0.5);

}

body {
  margin: 0
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: var(--bgcolor);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: var(--main-text-color);
}

.logo-container {
  flex: 1;
  align-items: center;
  height: 3rem;
  background-image: url(../../../src/img/logoName.png);
  background-size: 70%; /* Sets the background image size to 50% of the container width/height */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image within the container */
}

.logo-container img {
  flex: 1;
  align-items: center;
  height: 3rem;
}

.logo-name h1 {
  flex: 1;
  align-items: center;
  font-size: 40px;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.menu-list-item {
  margin-right: 30px;
}

ul {
  list-style: none;
  border-radius: 5px;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  color: var(--main-text-color);
  padding: 0px 50px;
  text-decoration: none;
  font-size: 20px;
  transition: font-size 0.3s ease, border-radius 0.3s ease;
}

ul li a:hover {
  /*background-color: rgb(242, 231, 231);*/  /*<<- eto yung background color nung NAV hover, uncomment nyonalang if want nyo */
  border-radius: 10px;
  font-size: 23px;
  color: var(--hoverbgcolor);
}

ul li ul.dropdown li {
  display: block;
}

ul li ul.dropdown {
  width: 100%;
  background: #21212189;
  position: absolute;
  z-index: 999;
  display: none;
  align-items: center;

}

ul li:hover ul.dropdown {
  display: block;
  border-radius: 10px;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;  /* Needed for absolute positioning of dropdown */
}

.profile-text-container {
  margin: 0 20px;
  cursor: pointer;  /* Indicates that the text is clickable */
  transition: font-size 0.3s ease, color 0.3s ease;
}

.profile-text-container:hover {
  font-size: 20px;
  color: var(--hoverbgcolor);
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.fas.fa-caret-down {
  font-size: 14px;
  margin-left: 5px;
}

/* Dropdown Menu Styles */
.dropdown-menu {
  display: none;  /* Hidden by default */
  position: absolute;
  top: 100%;  /* Position it below the profile text */
  right: 0;   /* Align it to the right of the profile picture */
  background: #21212189;
  border-radius: 5px;
  z-index: 1;
  min-width: 150px;
}

.dropdown-container{
  position: relative;
}

.dropdown-item {
  padding: 8px 16px;
  text-decoration: none;
  color: var(--main-text-color);
  display: block;
  display: flex;
  align-items: center;
  transition: font-size 0.3s ease, border-radius 0.3s ease;
}

.dropdown-item:hover {
  color: var(--hoverbgcolor);
  border-radius: 5px;
  font-size: 20px;
} 

/* Show dropdown on hover */
.dropdown-container:hover .dropdown-menu {
  display: block;
}

.toggle {
  margin-top: 10px;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: var(--main-text-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: var(--bgcolor);
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  color: var(--sidebar-icon);
  font-size: 20px;
  margin-bottom: 40px;
  transition: font-size 0.3s ease, margin-bottom 0.3s ease; /* Smooth transition */
}

.left-menu-icon:hover {
  font-size: 30px;
  margin-bottom: 35px; /* Modify this if you want a different margin on hover */
  color: var(--hoverbgcolor);
  cursor: pointer;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: var(--main-text-color);
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh;
  position: relative;
}


.featured-title {
  width: 200px;
  padding-top: 40px;
  padding-left: 40px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: var(--btn-color);
  color: var(--sectext-color);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.game-list-container {
  padding: 0 20px;
}

.game-list-wrapper {
  position: relative;
  overflow: hidden;
}

.game-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.game-list-item {
  margin-right: 30px;
  position: relative;
}

.game-list-item:hover .game-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
  transition: ease-in 0.3s; /* animation ng hover ng games pampabilis*/
}

.game-list-item:hover .game-list-item-title,
.game-list-item:hover .game-list-item-desc,
.game-list-item:hover .game-list-item-button {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.game-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.game-list-item-title {
  padding: 0 10px;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 15%;
  left: 20px;
  line-height: 1;
  opacity: 0;
  transition: 1s all ease-in-out;
  z-index: 2;
}

.game-list-item-desc {
  padding: 10px;
  font-size: 13px;
  position: absolute;
  top: 35%;
  left: 20px;
  width: 250px;
  opacity: 0;
  transition: 1s all ease-in-out;
  z-index: 2;
}

.game-list-item-button {
  padding: 10px;
  background-color: var(--btn-color);
  color: var(--sectext-color);
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 30px;
  opacity: 0;
  width: 100px;
  transition: 1s all ease-in-out;
}

.game-list-item-button:hover {
  background-color: var(--btn-hover-color);
  color: var(--sectext-color);
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: rgba(255, 255, 255, 0.64);
  opacity: 0.5;
  cursor: pointer;
}

.arrow:hover {
  position: absolute;
  color: lightgrey;
  cursor: pointer;
}

/************************************************************White Mode**************************/

.container.active {
  background-color: var(--secbg-color);
}

.game-list-title.active {
  color: var(--sectext-color);
}

.game-list-item-title.active {
    color: var(--sectext-color);
}

.game-list-item-desc.active{
    color: var(--sectext-color);
}

.menu-list-item a.active{
  color: var(--sectext-color);
}


.navbar-container.active {
  background-color: var(--secbg-color);
  color: var(--sectext-color);
}

.menu-list-item a.active:hover{
  color: var(--hoverbgcolor);
}


.dropdown-item.active {
  padding: 8px 16px;
  text-decoration: none;
  color: var(--sectext-color);
  display: block;
  display: flex;
  align-items: center;
  transition: font-size 0.3s ease, border-radius 0.3s ease;
}

.dropdown-item:hover.active {
  color: var(--hoverbgcolor);
  border-radius: 5px;
  font-size: 20px;
} 

.sidebar.active {
  background-color: var(--secbg-color);
}

.logo-container.active{
  flex: 1;
  align-items: center;
  height: 3rem;
  background-image: url(../../../src/img/blckLM.png);
  background-size: 70%; /* Sets the background image size to 50% of the container width/height */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image within the container */
}
.left-menu-icon.active {
  color: var(--sectext-color);
}
.left-menu-icon:hover.active {
  font-size: 30px;
  margin-bottom: 35px; /* Modify this if you want a different margin on hover */
  color: var(--hoverbgcolor);
}
.toggle.active {
  background-color: var(--bgcolor);
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

.container,
.game-list-title,
.navbar-container,
.toggle {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

/* .toggle-ball white mode state */
.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}


@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}